.adminContainer {
  display: flex;
  align-items: center;
}

.adminPanel {
  width: 85vw;
  height: 90vh;
  background-color: #eee;
}

.active {
  color: white !important;
  background-color: #ff61b8 !important;
}
